[user]
	name = Vince Panuccio
	email = panuccio.vince@gmail.com
[core]
	autocrlf = true
	excludesfile = 
[credential]
	helper = store
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	path = E:/OneDrive/tools/KDiff3/kdiff3.exe
	trustExitCode = false
	path = E:/OneDrive/tools/KDiff3/kdiff3.exe
[diff]
	guitool = kdiff3
[difftool "kdiff3"]
	path = E:/OneDrive/tools/KDiff3/kdiff3.exe
	trustExitCode = false
	path = E:/OneDrive/tools/KDiff3/kdiff3.exe
