[user]
	name = Vince Panuccio
	email = panuccio.vince@gmail.com
[core]
	autocrlf = true
	excludesfile = 
	editor = gvim
[credential]
	helper = store
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
	trustExitCode = false
[diff]
	guitool = kdiff3
[difftool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
	trustExitCode = false
[branch]
	autoSetupMerge = always
[http]
	postBuffer = 524288000
[sendpack]
	sideband = false
